<div class="col-md-12">
  <mat-card class="mt-3 mb-3 animated fadeIn fast">
    <div class="row">
      <div class="col-8">
        <mat-form-field class="full-width">
          <input matInput (keyup)="applyFilter($event.target.value)"
            placeholder="Filtrar por Nome, Decrição, Preço ou Observação">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width">
          <mat-label>Status</mat-label>
          <mat-select [formControl]="actionControl">
            <mat-option *ngFor="let action of actions" [value]="action.value" (click)="selectOption()">
              {{action.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="">
          <tr>
            <!-- <th>Data da Solicitação</th> -->
            <th>Status</th>
            <th>Nome do Solicitante</th>
            <th>Descrição do Item</th>
            <th>Preço do Protudo</th>
            <th>Observação</th>
          </tr>
        </thead>
        <tbody *ngIf="products">
          <tr *ngFor="let product of products.data">
            <!-- <td>{{ product.createdAt | date: 'dd/MM/yyyy' }}</td> -->
            <td *ngIf="product.status === 'approve'"><span class="badge badge-pill badge-success">Aprovado</span></td>
            <td *ngIf="product.status === 'refuse'"><span class="badge badge-pill badge-danger">Recusado</span></td>
            <td *ngIf="product.status === 'pending'"><span class="badge badge-pill badge-warning">Pendente</span></td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>R$ {{ product.price }}</td>
            <td>{{ product.observation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-3 mb-2" *ngIf="products">
      <ngb-pagination [collectionSize]="products.total" [maxSize]="5" [pageSize]="products.per_page" [(page)]="products.current_page" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </mat-card>
</div>