<div class="col-md-8 offset-md-2">
  <mat-card class="mt-3 mb-3 animated fast"
    [ngClass]="{'bounceInRight' : classBounceInRight, 'bounceOutLeft': classBounceOutLeft}">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h5>{{ profile === 'approver' ? 'Aprovação' : 'Solicitação' }} de Produto</h5>
        <hr>
        <div class="row">
          <div class="col-sm">
            <form [formGroup]="registerItem" (ngSubmit)="onSubmitItem()">
              <div class="form-group">
                <mat-form-field class="full-width">
                  <input type="text" formControlName="name" matInput placeholder="Nome do Solicitante"
                    [ngClass]="{ 'is-invalid': submittedItem && f.name.errors }" />
                </mat-form-field>
                <div *ngIf="submittedItem && f.name.errors" class="invalid-feedback-material">
                  <mat-error *ngIf="f.name.errors.required">Informar o nome é obrigatório!</mat-error>
                </div>
              </div>
              <div class="form-group">
                <mat-form-field class="full-width">
                  <textarea rows="4" type="text" formControlName="description" matInput placeholder="Descrição do Item"
                    [ngClass]="{ 'is-invalid': submittedItem && f.description.errors }"></textarea>
                </mat-form-field>
                <div *ngIf="submittedItem && f.description.errors" class="invalid-feedback-material">
                  <mat-error *ngIf="f.description.errors.required">Informar uma descrição é obrigatório!</mat-error>
                </div>
              </div>
              <div class="form-group">
                <mat-form-field class="full-width">
                  <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    formControlName="price" matInput placeholder="Preço do Produto"
                    [ngClass]="{ 'is-invalid': submittedItem && f.price.errors }" />
                </mat-form-field>
                <div *ngIf="submittedItem && f.price.errors" class="invalid-feedback-material">
                  <mat-error *ngIf="f.price.errors.required">Informar o preço é obrigatório!</mat-error>
                </div>
              </div>
              <div class="form-group row" *ngIf="profile === 'requester'">
                <div class="col-2 text-right">
                  <div class="spinner-grow text-primary" role="status" *ngIf="loadingNewProduct">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div class="col-10">
                  <button class="btn btn-block botton-material" [disabled]="loadingNewProduct"
                    mat-raised-button>Solicitar Novo Produto</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm" *ngIf="profile === 'approver'">
            <form [formGroup]="resolveSolicitation" (ngSubmit)="onSubmitResponse()">
              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Responder</mat-label>
                  <mat-select [formControl]="actionControl" required>
                    <mat-option *ngFor="let action of actions" [value]="action.value" (click)="selectOption()">
                      {{action.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="actionControl.hasError('required')">Por favor, escolha uma ação!</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="full-width">
                  <textarea rows="4" type="text" formControlName="observation" matInput placeholder="Observação"
                    [ngClass]="{ 'is-invalid': submittedResponse && g.observation.errors }"></textarea>
                </mat-form-field>
                <div *ngIf="submittedResponse && g.observation.errors" class="invalid-feedback-material">
                  <mat-error *ngIf="g.observation.errors.required">Em caso de recusão, uma descrição é obrigatória!
                  </mat-error>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-2 text-right">
                  <div class="spinner-grow text-primary" role="status" *ngIf="loadingUpdateProduct">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div class="col-10">
                  <button class="btn btn-block botton-material" [disabled]="loadingUpdateProduct" mat-raised-button>
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>